<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CP_7.0</display-name>
  
  
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>cn.jxufe.filter.EncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
<!--   <dependency>
  <groupId>org.easymock</groupId>
  <artifactId>easymock</artifactId>
  <version>3.4</version>
  <scope>test</scope>
</dependency> -->
  <servlet>
    <servlet-name>FilterTestServlet</servlet-name>
    <servlet-class>cn.jxufe.filter.FilterTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilterTestServlet</servlet-name>
    <url-pattern>/FilterTestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.jxufe.controller.user.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelectJobAssessServlet</servlet-name>
    <servlet-class>cn.jxufe.controller.assess.SelectJobAssessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectJobAssessServlet</servlet-name>
    <url-pattern>/SelectJobAssessServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowJobAssListServlet</servlet-name>
    <servlet-class>cn.jxufe.controller.assess.ShowJobAssListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowJobAssListServlet</servlet-name>
    <url-pattern>/ShowJobAssListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowJobAssServlet</servlet-name>
    <servlet-class>cn.jxufe.controller.assess.ShowJobAssServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowJobAssServlet</servlet-name>
    <url-pattern>/ShowJobAssServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowSelAssListServlet</servlet-name>
    <servlet-class>cn.jxufe.controller.assess.ShowSelAssListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSelAssListServlet</servlet-name>
    <url-pattern>/ShowSelAssListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowSelAssServlet</servlet-name>
    <servlet-class>cn.jxufe.controller.assess.ShowSelAssServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSelAssServlet</servlet-name>
    <url-pattern>/ShowSelAssServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowStudentListServlet</servlet-name>
    <servlet-class>cn.jxufe.controller.assess.ShowStudentListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowStudentListServlet</servlet-name>
    <url-pattern>/ShowStudentListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteStudentServlet</servlet-name>
    <servlet-class>cn.jxufe.controller.assess.DeleteStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStudentServlet</servlet-name>
    <url-pattern>/DeleteStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelectSelAssessServlet</servlet-name>
    <servlet-class>cn.jxufe.controller.assess.SelectSelAssessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectSelAssessServlet</servlet-name>
    <url-pattern>/SelectSelAssessServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelectTarServlet</servlet-name>
    <servlet-class>cn.jxufe.controller.assess.SelectTarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectTarServlet</servlet-name>
    <url-pattern>/SelectTarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowTarListServlet</servlet-name>
    <servlet-class>cn.jxufe.controller.assess.ShowTarListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowTarListServlet</servlet-name>
    <url-pattern>/ShowTarListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelectEvaServlet</servlet-name>
    <servlet-class>cn.jxufe.controller.assess.SelectEvaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectEvaServlet</servlet-name>
    <url-pattern>/SelectEvaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateEvaServlet</servlet-name>
    <servlet-class>cn.jxufe.controller.assess.UpdateEvaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEvaServlet</servlet-name>
    <url-pattern>/UpdateEvaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowTarServlet</servlet-name>
    <servlet-class>cn.jxufe.controller.assess.ShowTarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowTarServlet</servlet-name>
    <url-pattern>/ShowTarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AnalyseListServlet</servlet-name>
    <servlet-class>cn.jxufe.controller.assess.AnalyseListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnalyseListServlet</servlet-name>
    <url-pattern>/AnalyseListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateJobAssessServlet</servlet-name>
    <servlet-class>cn.jxufe.controller.assess.UpdateJobAssessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateJobAssessServlet</servlet-name>
    <url-pattern>/UpdateJobAssessServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateSelAssessServlet</servlet-name>
    <servlet-class>cn.jxufe.controller.assess.UpdateSelAssessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSelAssessServlet</servlet-name>
    <url-pattern>/UpdateSelAssessServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelectExcTarServlet</servlet-name>
    <servlet-class>cn.jxufe.controller.assess.SelectExcTarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectExcTarServlet</servlet-name>
    <url-pattern>/SelectExcTarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelectReaTarServlet</servlet-name>
    <servlet-class>cn.jxufe.controller.assess.SelectReaTarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectReaTarServlet</servlet-name>
    <url-pattern>/SelectReaTarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateExcTarServlet</servlet-name>
    <servlet-class>cn.jxufe.controller.assess.UpdateExcTarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateExcTarServlet</servlet-name>
    <url-pattern>/UpdateExcTarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateReaTarServlet</servlet-name>
    <servlet-class>cn.jxufe.controller.assess.UpdateReaTarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateReaTarServlet</servlet-name>
    <url-pattern>/UpdateReaTarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelectEvaListServlet</servlet-name>
    <servlet-class>cn.jxufe.controller.assess.SelectEvaListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectEvaListServlet</servlet-name>
    <url-pattern>/SelectEvaListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelectEvaluate</servlet-name>
    <servlet-class>cn.jxufe.controller.evaluate.SelectEvaluate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectEvaluate</servlet-name>
    <url-pattern>/SelectEvaluate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateEvaluate</servlet-name>
    <servlet-class>cn.jxufe.controller.evaluate.UpdateEvaluate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEvaluate</servlet-name>
    <url-pattern>/UpdateEvaluate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OpenEvaServlet</servlet-name>
    <servlet-class>cn.jxufe.controller.evaluate.OpenEvaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OpenEvaServlet</servlet-name>
    <url-pattern>/OpenEvaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OpenTarAndAssServlet</servlet-name>
    <servlet-class>cn.jxufe.controller.evaluate.OpenTarAndAssServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OpenTarAndAssServlet</servlet-name>
    <url-pattern>/OpenTarAndAssServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BroadwiseServlet</servlet-name>
    <servlet-class>cn.jxufe.controller.analyse.BroadwiseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BroadwiseServlet</servlet-name>
    <url-pattern>/BroadwiseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Jsp2JspServlet</servlet-name>
    <servlet-class>cn.jxufe.controller.Jsp2JspServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jsp2JspServlet</servlet-name>
    <url-pattern>/Jsp2JspServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SkipServlet</servlet-name>
    <servlet-class>cn.jxufe.controller.user.SkipServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SkipServlet</servlet-name>
    <url-pattern>/SkipServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ImportExcelServlet</servlet-name>
    <servlet-class>cn.jxufe.controller.analyse.ImportExcelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImportExcelServlet</servlet-name>
    <url-pattern>/ImportExcelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AjaxTestServlet</servlet-name>
    <servlet-class>cn.jxufe.test.AjaxTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxTestServlet</servlet-name>
    <url-pattern>/AjaxTestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AjaxTest2Servlet</servlet-name>
    <servlet-class>cn.jxufe.test.AjaxTest2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxTest2Servlet</servlet-name>
    <url-pattern>/AjaxTest2Servlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
</web-app>